@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-eN2cVS6mWNAC: 1140px;
  --plasmic-token-content-max-width: var(--token-eN2cVS6mWNAC);
  --token-2vYPiUgp4gml: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-2vYPiUgp4gml);
  --token-Hu_xqS1YXgGc: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-Hu_xqS1YXgGc);
  --token-4wwbmM0Kj_ul: #92959bd9;
  --plasmic-token-light-label: var(--token-4wwbmM0Kj_ul);
  --token-afaroFoLUtPz: #05050599;
  --plasmic-token-light-secondary: var(--token-afaroFoLUtPz);
  --token-f3kVdWZPwa5A: #007aff;
  --plasmic-token-light-blue: var(--token-f3kVdWZPwa5A);
  --token-TedyLfylsTSl: #ff3b30;
  --plasmic-token-light-red: var(--token-TedyLfylsTSl);
  --token-f_8dlaInvA9D: #ffffff;
  --plasmic-token-white: var(--token-f_8dlaInvA9D);
  --token-vLmBPsTI5YC4: #ffffffd9;
  --plasmic-token-dark-label: var(--token-vLmBPsTI5YC4);
  --token-eu6yMInTln7-: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-eu6yMInTln7-);
  --token-Li_HvX0yhSKW: #0000001a;
  --plasmic-token-light-quarternary: var(--token-Li_HvX0yhSKW);
  --token-kzXlvzColaV_: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-kzXlvzColaV_);
  --token-MCESzL35xCxc: #32d74b;
  --plasmic-token-dark-green: var(--token-MCESzL35xCxc);
  --token-Vu6tl3d3VIFR: #0a84ff;
  --plasmic-token-dark-blue: var(--token-Vu6tl3d3VIFR);
  --token-isvsoUt9Bg2W: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-isvsoUt9Bg2W);
  --token-SAMJ4jhGd4fX: #34c759;
  --plasmic-token-light-green: var(--token-SAMJ4jhGd4fX);
  --token-EB1v7x56IUUb: #5856d6;
  --plasmic-token-light-indigo: var(--token-EB1v7x56IUUb);
  --token-3oVC2k2DNpF_: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-3oVC2k2DNpF_);
  --token-70XuxNo4v8-b: 1240px;
  --plasmic-token-max-width-navbar: var(--token-70XuxNo4v8-b);
  --token-GZriZ14XTc16: var(--token-ktVbzfUE11XP);
  --plasmic-token-unnamed-style-token-2: var(--token-GZriZ14XTc16);
  --token-ktVbzfUE11XP: #eeeeee80;
  --plasmic-token-grey: var(--token-ktVbzfUE11XP);
  --token-6pJ4h148e14j: #2563eb;
  --plasmic-token-brand-brand: var(--token-6pJ4h148e14j);
  --token-RiB86oFFm2LO: 0.5rem;
  --plasmic-token-size-8: var(--token-RiB86oFFm2LO);
  --token-QD8V_aeD3IBQ: Inter;
  --plasmic-token-sans-serif: var(--token-QD8V_aeD3IBQ);
  --token-88B45d89hvFT: 1rem;
  --plasmic-token-font-md: var(--token-88B45d89hvFT);
  --token-8S865Dt_fJFu: 1.25;
  --plasmic-token-line-height-md: var(--token-8S865Dt_fJFu);
  --token-zjkHRV5eaS4c: 0.375rem;
  --plasmic-token-size-6: var(--token-zjkHRV5eaS4c);
  --token-qdW8R9Wb5blg: #374151;
  --plasmic-token-neutral-neutral: var(--token-qdW8R9Wb5blg);
  --token-ikSUxi9Ih4RM: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-ikSUxi9Ih4RM);
  --token-9UBXxU9_lFu5: #6b7280;
  --plasmic-token-muted-muted: var(--token-9UBXxU9_lFu5);
  --token-srP3nBa3JQNo: 0.25rem;
  --plasmic-token-size-4: var(--token-srP3nBa3JQNo);
  --token-hgAKkpe5qX7V: 0.75rem;
  --plasmic-token-font-sm: var(--token-hgAKkpe5qX7V);
  --token-YbBEn4OlIgxr: 1;
  --plasmic-token-line-height-sm: var(--token-YbBEn4OlIgxr);
  --token-sppT1uh6vg8u: 1.25rem;
  --plasmic-token-font-lg: var(--token-sppT1uh6vg8u);
  --token-vMsoJ0IESTa3: 1.4;
  --plasmic-token-line-height-lg: var(--token-vMsoJ0IESTa3);
  --token-Ff2yodeotCQC: 0.125rem;
  --plasmic-token-size-2: var(--token-Ff2yodeotCQC);
  --token-20l57uT2DqTX: #16a34a;
  --plasmic-token-success-success: var(--token-20l57uT2DqTX);
  --token-9zBs8ZP0tgQx: #facc15;
  --plasmic-token-warning-warning: var(--token-9zBs8ZP0tgQx);
  --token-6hHYATJJALcm: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-6hHYATJJALcm);
  --token-eH8GyrNFqq4i: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-eH8GyrNFqq4i);
  --token-aN5CRhc0HoMj: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-aN5CRhc0HoMj);
  --token-2Pb3e8fCtenw: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-2Pb3e8fCtenw);
  --token-SjWeqthNrWLv: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-SjWeqthNrWLv);
  --token-Fd3lAprnk5Cb: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-Fd3lAprnk5Cb);
  --token-0GUccHNOHrcJ: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-0GUccHNOHrcJ);
  --token--QjZjKryBZFj: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token--QjZjKryBZFj);
  --token-GAGETN6DoDMv: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-GAGETN6DoDMv);
  --token-jV_xB-HTSufg: #86efac;
  --plasmic-token-success-success-border: var(--token-jV_xB-HTSufg);
  --token-7sYUFro3_fqQ: #fde047;
  --plasmic-token-warning-warning-border: var(--token-7sYUFro3_fqQ);
  --token-8opUc1OnB7pe: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-8opUc1OnB7pe);
  --token-b9ST6_52GsM4: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-b9ST6_52GsM4);
  --token-cfoZm3judZ5y: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-cfoZm3judZ5y);
  --token-MoQN4XaNDZkO: #00000033;
  --plasmic-token-interaction-pressed: var(--token-MoQN4XaNDZkO);
  --token-LXNKHQOXWfXl: 0.625rem;
  --plasmic-token-size-10: var(--token-LXNKHQOXWfXl);
  --token-cRearactqpBR: 0.75rem;
  --plasmic-token-size-12: var(--token-cRearactqpBR);
  --token-x9Ni7wFB3A1l: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-x9Ni7wFB3A1l);
  --token-u9mMZ-OWIAPg: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-u9mMZ-OWIAPg);
  --token-TOyEJ2Sl7gQ-: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-TOyEJ2Sl7gQ-);
  --token-B0enLKqhI0Jc: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-B0enLKqhI0Jc);
  --token-Fsd_w0_QQehQ: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-Fsd_w0_QQehQ);
  --token-WbfLgodFNeGr: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-WbfLgodFNeGr);
  --token-FNYzjJis3Ewv: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-FNYzjJis3Ewv);
  --token-8K1x_DkfJslw: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-8K1x_DkfJslw);
  --token-m3KyR19gWBj5: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-m3KyR19gWBj5);
  --token-seSNgZk-rtb7: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-seSNgZk-rtb7);
  --token-pzHPI8BQTjxS: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-pzHPI8BQTjxS);
  --token-f4UFwb3tKeav: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-f4UFwb3tKeav
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ehk3uQPAGhSN_font-family: "Montserrat", sans-serif;
  --mixin-ehk3uQPAGhSN_font-size: 24px;
  --mixin-ehk3uQPAGhSN_font-weight: 500;
  --mixin-ehk3uQPAGhSN_font-style: normal;
  --mixin-ehk3uQPAGhSN_color: #00000080;
  --mixin-ehk3uQPAGhSN_text-align: left;
  --mixin-ehk3uQPAGhSN_text-transform: none;
  --mixin-ehk3uQPAGhSN_line-height: 1.5;
  --mixin-ehk3uQPAGhSN_letter-spacing: normal;
  --mixin-ehk3uQPAGhSN_white-space: pre-wrap;
  --mixin-ehk3uQPAGhSN_user-select: text;
  --mixin-ehk3uQPAGhSN_text-decoration-line: none;
  --mixin-ehk3uQPAGhSN_text-overflow: clip;
  --mixin-2cy8A2lmFQzl_white-space: pre-wrap;
  --mixin-79sDAknQ32LH_font-family: "Montserrat", sans-serif;
  --mixin-79sDAknQ32LH_color: #ffffff;
  --mixin-79sDAknQ32LH_font-size: 72px;
  --mixin-79sDAknQ32LH_font-weight: 700;
  --mixin-79sDAknQ32LH_line-height: 88px;
  --mixin-79sDAknQ32LH_white-space: pre-wrap;
  --mixin-xYFPcS3tIL9z_font-family: "Inter", sans-serif;
  --mixin-xYFPcS3tIL9z_color: #000000;
  --mixin-xYFPcS3tIL9z_font-size: 36px;
  --mixin-xYFPcS3tIL9z_font-weight: 700;
  --mixin-xYFPcS3tIL9z_line-height: 43px;
  --mixin-xYFPcS3tIL9z_text-align: center;
  --mixin-xYFPcS3tIL9z_white-space: pre-wrap;
  --mixin-w3B7kgMDzSo3_font-family: "Inter", sans-serif;
  --mixin-w3B7kgMDzSo3_color: #000000;
  --mixin-w3B7kgMDzSo3_font-size: 24px;
  --mixin-w3B7kgMDzSo3_font-weight: 600;
  --mixin-w3B7kgMDzSo3_letter-spacing: -0.5px;
  --mixin-w3B7kgMDzSo3_line-height: 1.3;
  --mixin-w3B7kgMDzSo3_white-space: pre-wrap;
  --mixin-m26kAEDQjVFP_font-family: "Montserrat", sans-serif;
  --mixin-m26kAEDQjVFP_color: #185adb;
  --mixin-m26kAEDQjVFP_font-size: 24px;
  --mixin-m26kAEDQjVFP_font-weight: 700;
  --mixin-m26kAEDQjVFP_line-height: 29px;
  --mixin-m26kAEDQjVFP_text-align: center;
  --mixin-m26kAEDQjVFP_white-space: pre-wrap;
  --mixin-Gh3ZK15hj7qS_font-family: "Inter", sans-serif;
  --mixin-Gh3ZK15hj7qS_color: #000000;
  --mixin-Gh3ZK15hj7qS_font-size: 16px;
  --mixin-Gh3ZK15hj7qS_font-weight: 600;
  --mixin-Gh3ZK15hj7qS_line-height: 1.5;
  --mixin-Gh3ZK15hj7qS_white-space: pre-wrap;
  --mixin-cg9cfimY3stO_border-left-color: #dddddd;
  --mixin-cg9cfimY3stO_border-left-style: solid;
  --mixin-cg9cfimY3stO_border-left-width: 3px;
  --mixin-cg9cfimY3stO_color: #888888;
  --mixin-cg9cfimY3stO_padding-left: 10px;
  --mixin-cg9cfimY3stO_white-space: pre-wrap;
  --mixin-t27TXMPv8CV8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-t27TXMPv8CV8_border-bottom-color: #dddddd;
  --mixin-t27TXMPv8CV8_border-bottom-style: solid;
  --mixin-t27TXMPv8CV8_border-bottom-width: 1px;
  --mixin-t27TXMPv8CV8_border-left-color: #dddddd;
  --mixin-t27TXMPv8CV8_border-left-style: solid;
  --mixin-t27TXMPv8CV8_border-left-width: 1px;
  --mixin-t27TXMPv8CV8_border-right-color: #dddddd;
  --mixin-t27TXMPv8CV8_border-right-style: solid;
  --mixin-t27TXMPv8CV8_border-right-width: 1px;
  --mixin-t27TXMPv8CV8_border-top-color: #dddddd;
  --mixin-t27TXMPv8CV8_border-top-style: solid;
  --mixin-t27TXMPv8CV8_border-top-width: 1px;
  --mixin-t27TXMPv8CV8_border-bottom-left-radius: 3px;
  --mixin-t27TXMPv8CV8_border-bottom-right-radius: 3px;
  --mixin-t27TXMPv8CV8_border-top-left-radius: 3px;
  --mixin-t27TXMPv8CV8_border-top-right-radius: 3px;
  --mixin-t27TXMPv8CV8_font-family: "Inconsolata";
  --mixin-t27TXMPv8CV8_padding-bottom: 1px;
  --mixin-t27TXMPv8CV8_padding-left: 4px;
  --mixin-t27TXMPv8CV8_padding-right: 4px;
  --mixin-t27TXMPv8CV8_padding-top: 1px;
  --mixin-t27TXMPv8CV8_white-space: pre-wrap;
  --mixin-uRsgAd_PzSKC_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uRsgAd_PzSKC_border-bottom-color: #dddddd;
  --mixin-uRsgAd_PzSKC_border-bottom-style: solid;
  --mixin-uRsgAd_PzSKC_border-bottom-width: 1px;
  --mixin-uRsgAd_PzSKC_border-left-color: #dddddd;
  --mixin-uRsgAd_PzSKC_border-left-style: solid;
  --mixin-uRsgAd_PzSKC_border-left-width: 1px;
  --mixin-uRsgAd_PzSKC_border-right-color: #dddddd;
  --mixin-uRsgAd_PzSKC_border-right-style: solid;
  --mixin-uRsgAd_PzSKC_border-right-width: 1px;
  --mixin-uRsgAd_PzSKC_border-top-color: #dddddd;
  --mixin-uRsgAd_PzSKC_border-top-style: solid;
  --mixin-uRsgAd_PzSKC_border-top-width: 1px;
  --mixin-uRsgAd_PzSKC_border-bottom-left-radius: 3px;
  --mixin-uRsgAd_PzSKC_border-bottom-right-radius: 3px;
  --mixin-uRsgAd_PzSKC_border-top-left-radius: 3px;
  --mixin-uRsgAd_PzSKC_border-top-right-radius: 3px;
  --mixin-uRsgAd_PzSKC_font-family: "Inconsolata";
  --mixin-uRsgAd_PzSKC_padding-bottom: 3px;
  --mixin-uRsgAd_PzSKC_padding-left: 6px;
  --mixin-uRsgAd_PzSKC_padding-right: 6px;
  --mixin-uRsgAd_PzSKC_padding-top: 3px;
  --mixin-uRsgAd_PzSKC_white-space: pre-wrap;
  --mixin-qNpVK3yMY4Nw_display: flex;
  --mixin-qNpVK3yMY4Nw_flex-direction: column;
  --mixin-qNpVK3yMY4Nw_align-items: stretch;
  --mixin-qNpVK3yMY4Nw_justify-content: flex-start;
  --mixin-qNpVK3yMY4Nw_list-style-position: outside;
  --mixin-qNpVK3yMY4Nw_padding-left: 40px;
  --mixin-qNpVK3yMY4Nw_position: relative;
  --mixin-qNpVK3yMY4Nw_list-style-type: decimal;
  --mixin-qNpVK3yMY4Nw_white-space: pre-wrap;
  --mixin-Rrr_mhLX1lPB_display: flex;
  --mixin-Rrr_mhLX1lPB_flex-direction: column;
  --mixin-Rrr_mhLX1lPB_align-items: stretch;
  --mixin-Rrr_mhLX1lPB_justify-content: flex-start;
  --mixin-Rrr_mhLX1lPB_list-style-position: outside;
  --mixin-Rrr_mhLX1lPB_padding-left: 40px;
  --mixin-Rrr_mhLX1lPB_position: relative;
  --mixin-Rrr_mhLX1lPB_list-style-type: disc;
  --mixin-Rrr_mhLX1lPB_white-space: pre-wrap;
  --mixin-oy9_SSMHdf5B_color: #000000;
  --mixin-oy9_SSMHdf5B_font-family: "Montserrat", sans-serif;
  --mixin-oy9_SSMHdf5B_font-size: 64px;
  --mixin-oy9_SSMHdf5B_font-weight: 700;
  --mixin-oy9_SSMHdf5B_line-height: 78px;
  --mixin-oy9_SSMHdf5B_text-align: center;
  --mixin-oy9_SSMHdf5B_white-space: pre-wrap;
  --mixin-Q50_l01PCZM2_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-ehk3uQPAGhSN_font-size: 16px;
    --mixin-ehk3uQPAGhSN_line-height: 27px;
    --mixin-ehk3uQPAGhSN_white-space: pre-wrap;
    --mixin-79sDAknQ32LH_font-size: 40px;
    --mixin-79sDAknQ32LH_line-height: 48px;
    --mixin-79sDAknQ32LH_white-space: pre-wrap;
    --mixin-oy9_SSMHdf5B_font-size: 28px;
    --mixin-oy9_SSMHdf5B_line-height: 34px;
    --mixin-oy9_SSMHdf5B_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-5-abkwIlkame_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-5-abkwIlkame_white-space);
  --mixin-dSG43BKniHrv_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-dSG43BKniHrv_box-shadow
  );
  --mixin-dSG43BKniHrv_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-dSG43BKniHrv_white-space
  );
  --mixin-TLCBkMURrVv2_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-TLCBkMURrVv2_white-space);
  --mixin-PGJx0enFFugb_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-PGJx0enFFugb_white-space
  );
  --mixin-hi-rZ4cle-UN_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-hi-rZ4cle-UN_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ehk3uQPAGhSN_font-family);
  font-size: var(--mixin-ehk3uQPAGhSN_font-size);
  font-weight: var(--mixin-ehk3uQPAGhSN_font-weight);
  font-style: var(--mixin-ehk3uQPAGhSN_font-style);
  color: var(--mixin-ehk3uQPAGhSN_color);
  text-align: var(--mixin-ehk3uQPAGhSN_text-align);
  text-transform: var(--mixin-ehk3uQPAGhSN_text-transform);
  line-height: var(--mixin-ehk3uQPAGhSN_line-height);
  letter-spacing: var(--mixin-ehk3uQPAGhSN_letter-spacing);
  white-space: var(--mixin-ehk3uQPAGhSN_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-79sDAknQ32LH_font-family);
  color: var(--mixin-79sDAknQ32LH_color);
  font-size: var(--mixin-79sDAknQ32LH_font-size);
  font-weight: var(--mixin-79sDAknQ32LH_font-weight);
  line-height: var(--mixin-79sDAknQ32LH_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-xYFPcS3tIL9z_font-family);
  color: var(--mixin-xYFPcS3tIL9z_color);
  font-size: var(--mixin-xYFPcS3tIL9z_font-size);
  font-weight: var(--mixin-xYFPcS3tIL9z_font-weight);
  line-height: var(--mixin-xYFPcS3tIL9z_line-height);
  text-align: var(--mixin-xYFPcS3tIL9z_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-w3B7kgMDzSo3_font-family);
  color: var(--mixin-w3B7kgMDzSo3_color);
  font-size: var(--mixin-w3B7kgMDzSo3_font-size);
  font-weight: var(--mixin-w3B7kgMDzSo3_font-weight);
  letter-spacing: var(--mixin-w3B7kgMDzSo3_letter-spacing);
  line-height: var(--mixin-w3B7kgMDzSo3_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-m26kAEDQjVFP_font-family);
  color: var(--mixin-m26kAEDQjVFP_color);
  font-size: var(--mixin-m26kAEDQjVFP_font-size);
  font-weight: var(--mixin-m26kAEDQjVFP_font-weight);
  line-height: var(--mixin-m26kAEDQjVFP_line-height);
  text-align: var(--mixin-m26kAEDQjVFP_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-Gh3ZK15hj7qS_font-family);
  color: var(--mixin-Gh3ZK15hj7qS_color);
  font-size: var(--mixin-Gh3ZK15hj7qS_font-size);
  font-weight: var(--mixin-Gh3ZK15hj7qS_font-weight);
  line-height: var(--mixin-Gh3ZK15hj7qS_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-cg9cfimY3stO_color);
  padding-left: var(--mixin-cg9cfimY3stO_padding-left);
  border-left: var(--mixin-cg9cfimY3stO_border-left-width)
    var(--mixin-cg9cfimY3stO_border-left-style)
    var(--mixin-cg9cfimY3stO_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-t27TXMPv8CV8_font-family);
  border-radius: var(--mixin-t27TXMPv8CV8_border-top-left-radius)
    var(--mixin-t27TXMPv8CV8_border-top-right-radius)
    var(--mixin-t27TXMPv8CV8_border-bottom-right-radius)
    var(--mixin-t27TXMPv8CV8_border-bottom-left-radius);
  padding: var(--mixin-t27TXMPv8CV8_padding-top)
    var(--mixin-t27TXMPv8CV8_padding-right)
    var(--mixin-t27TXMPv8CV8_padding-bottom)
    var(--mixin-t27TXMPv8CV8_padding-left);
  border-top: var(--mixin-t27TXMPv8CV8_border-top-width)
    var(--mixin-t27TXMPv8CV8_border-top-style)
    var(--mixin-t27TXMPv8CV8_border-top-color);
  border-right: var(--mixin-t27TXMPv8CV8_border-right-width)
    var(--mixin-t27TXMPv8CV8_border-right-style)
    var(--mixin-t27TXMPv8CV8_border-right-color);
  border-bottom: var(--mixin-t27TXMPv8CV8_border-bottom-width)
    var(--mixin-t27TXMPv8CV8_border-bottom-style)
    var(--mixin-t27TXMPv8CV8_border-bottom-color);
  border-left: var(--mixin-t27TXMPv8CV8_border-left-width)
    var(--mixin-t27TXMPv8CV8_border-left-style)
    var(--mixin-t27TXMPv8CV8_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-uRsgAd_PzSKC_font-family);
  border-radius: var(--mixin-uRsgAd_PzSKC_border-top-left-radius)
    var(--mixin-uRsgAd_PzSKC_border-top-right-radius)
    var(--mixin-uRsgAd_PzSKC_border-bottom-right-radius)
    var(--mixin-uRsgAd_PzSKC_border-bottom-left-radius);
  padding: var(--mixin-uRsgAd_PzSKC_padding-top)
    var(--mixin-uRsgAd_PzSKC_padding-right)
    var(--mixin-uRsgAd_PzSKC_padding-bottom)
    var(--mixin-uRsgAd_PzSKC_padding-left);
  border-top: var(--mixin-uRsgAd_PzSKC_border-top-width)
    var(--mixin-uRsgAd_PzSKC_border-top-style)
    var(--mixin-uRsgAd_PzSKC_border-top-color);
  border-right: var(--mixin-uRsgAd_PzSKC_border-right-width)
    var(--mixin-uRsgAd_PzSKC_border-right-style)
    var(--mixin-uRsgAd_PzSKC_border-right-color);
  border-bottom: var(--mixin-uRsgAd_PzSKC_border-bottom-width)
    var(--mixin-uRsgAd_PzSKC_border-bottom-style)
    var(--mixin-uRsgAd_PzSKC_border-bottom-color);
  border-left: var(--mixin-uRsgAd_PzSKC_border-left-width)
    var(--mixin-uRsgAd_PzSKC_border-left-style)
    var(--mixin-uRsgAd_PzSKC_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-qNpVK3yMY4Nw_display);
  flex-direction: var(--mixin-qNpVK3yMY4Nw_flex-direction);
  align-items: var(--mixin-qNpVK3yMY4Nw_align-items);
  justify-content: var(--mixin-qNpVK3yMY4Nw_justify-content);
  list-style-position: var(--mixin-qNpVK3yMY4Nw_list-style-position);
  padding-left: var(--mixin-qNpVK3yMY4Nw_padding-left);
  position: var(--mixin-qNpVK3yMY4Nw_position);
  list-style-type: var(--mixin-qNpVK3yMY4Nw_list-style-type);
  flex-column-gap: var(--mixin-qNpVK3yMY4Nw_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Rrr_mhLX1lPB_display);
  flex-direction: var(--mixin-Rrr_mhLX1lPB_flex-direction);
  align-items: var(--mixin-Rrr_mhLX1lPB_align-items);
  justify-content: var(--mixin-Rrr_mhLX1lPB_justify-content);
  list-style-position: var(--mixin-Rrr_mhLX1lPB_list-style-position);
  padding-left: var(--mixin-Rrr_mhLX1lPB_padding-left);
  position: var(--mixin-Rrr_mhLX1lPB_position);
  list-style-type: var(--mixin-Rrr_mhLX1lPB_list-style-type);
  flex-column-gap: var(--mixin-Rrr_mhLX1lPB_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-oy9_SSMHdf5B_color);
  font-family: var(--mixin-oy9_SSMHdf5B_font-family);
  font-size: var(--mixin-oy9_SSMHdf5B_font-size);
  font-weight: var(--mixin-oy9_SSMHdf5B_font-weight);
  line-height: var(--mixin-oy9_SSMHdf5B_line-height);
  text-align: var(--mixin-oy9_SSMHdf5B_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
