.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__vTt3M {
  display: flex;
  position: relative;
  max-width: var(--token-eN2cVS6mWNAC);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__vTt3M > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__vTt3M > :global(.__wab_flex-container) > *,
.freeBox__vTt3M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vTt3M > :global(.__wab_flex-container) > picture > img,
.freeBox__vTt3M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vTt3M {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vTt3M > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vTt3M > :global(.__wab_flex-container) > *,
  .freeBox__vTt3M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vTt3M > :global(.__wab_flex-container) > picture > img,
  .freeBox__vTt3M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7ZjUn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___7ZjUn {
    justify-content: center;
  }
}
.freeBox___2N4Ed {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__kKmYk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__kKmYk {
    text-align: center;
  }
}
.freeBox__zDT2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zDT2 {
    align-self: center;
    justify-content: center;
  }
}
.svg___9TUnd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__mgeAb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___4RaCl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__d7It1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column___1MRpi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___1MRpi {
    justify-content: center;
  }
}
.h4__b7TxO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__b7TxO {
    text-align: center;
  }
}
.link__h0N2K {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__plvoZ {
  white-space: pre;
  color: #92959b;
}
.link__kbqyv {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text___0X9N {
  white-space: pre;
  color: #92959b;
}
.link__q60Hp {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__edXwj {
  white-space: pre;
  color: #92959b;
}
.link__cvQjb {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__xyL1F {
  white-space: pre;
  color: #92959b;
}
.column__ueM25 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ueM25 {
    justify-content: center;
  }
}
.h4__nmmYn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__nmmYn {
    align-self: center;
    text-align: center;
  }
}
.link___77HbR {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__vkMsT {
  white-space: pre;
  color: #92959b;
}
.link__fYqC {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__qPdmU {
  white-space: pre;
  color: #92959b;
}
.column__c89K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__c89K {
    justify-content: center;
  }
}
.h4__rjOeZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__rjOeZ {
    align-self: center;
    text-align: center;
  }
}
.link__kHed {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text___9Yx {
  white-space: pre;
  color: #92959b;
}
.link__o82Nx {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__j6TeF {
  white-space: pre;
  color: #92959b;
}
.link___5Cbx4 {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__luaY {
  white-space: pre;
  color: #92959b;
}
.freeBox__cacjo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text___3Xq0Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___3Xq0Q {
    padding-top: 129px;
  }
}
